BasedOnStyle: LLVM
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
Standard: Cpp11
TabWidth: 4
UseTab: Never
